body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: #fff;
  text-align: center;

}

*  {
  padding: 0;
  margin: 0;
}

.notesHeader, .notesBody, .notesFooter { 
  background-color: rgb(0, 0, 0, .5);
  padding: 20px;
  margin: 0 auto;

}

.notesHeader {
  font-family: 'Montserrat', sans-serif;

}


.notesBody {
  margin-top: 20px;
}

.notesFooter {
  bottom : 0;
  position: fixed;
  left: 0;
  width: 100%;
}